body {
  padding-top: 70px;
  padding-left: 2em;
  padding-right: 2em;
}

header {
  border-bottom: 1px solid #3192b4;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

footer {
  border-top: 1px solid #3192b4;
  padding-top: 1em;
  margin-top: 1em;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

pre > code {
  font-family: Consolas, "Courier New", monospace;
}
